*{
    font-family: 'Roboto', sans-serif;
}
.btnshadow{
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.08);
}
.hover:hover{
    cursor: pointer;
    opacity: 0.7;
}
/* BG COLOR */
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: #F3F5F9;
}
.bg-grad{
    background: rgb(15, 36, 105);
    background: linear-gradient(0deg, rgba(0,25,107,1) 0%, rgb(9, 84, 214) 100%);
    color: white;
}
.bg-blue{
    background-color: #031C4E;
    color: white;
}




.logo{
    max-width: 130px;
    margin-right: 100px;
    vertical-align: middle;
}
.border{
    border: solid 1px black;
}
nav [class*="col-"] > *{
    display: inline-block;
}
.nav li>a{
    color: #031C4E;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 8px;
    margin: 10px 0;
}
nav ul{
    vertical-align: middle;
}
nav ul li{
    vertical-align: middle;
    
}
.float-right{
    float: right;
}
#btnsignup{
    color: #016DFF;
    border: solid 1px #016DFF;
}

/* HERO */
section{
    padding: 50px 0;
}
.hero{
    background-image: url(img/bg-banner-home.jpg);
    background-size: contain;
    color: white;
}
.titolo{
    font-family: inherit;
    margin: 10px 0;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
}
.titolosection{
    font-family: inherit;
    margin: 10px 0;
    font-size: 28px;
    font-weight: 1000;
    line-height: 1.1;
    text-align: center;
    color: #071f50;
}
.titolosection-white{
    font-family: inherit;
    margin: 10px 0;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
    color: white;
    text-align: center;
}
.s_titolosection-white{
    font-family: inherit;
    margin: 10px 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    color: white;
    text-align: center;
}
.undercaption{
    font-weight: 400;
    line-height: 1.5;
    font-size: 34%;
    opacity: 0.7;
    margin-top: 10px;
}
.p_undercaption{
    font-weight: 600;
    line-height: 1.5;
    font-size: 13px;
    opacity: 0.6;
    margin-top: 10px;
}
.s_undercaption{
    font-weight: 600;
    line-height: 1.5;
    font-size: 65%;
    opacity: 0.6;
    margin-top: 10px;
}
.btn_create{
    background-color: #579AFF;
    color: rgba(255, 255, 255, 0.849);
    font-weight: 600;
}
.btn_sign{
    color: #626262;
    font-weight: 600;
    border: none;
    position: relative;
}
.gugol{
    max-height: 18px;
    opacity: 0.8;
    position: absolute;
    left: 10px;
}
.whitebox{
    padding: 20px 10px;
    color:#031C4E;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.myform{
    box-shadow:unset;
    border: none;
    font-weight: 600;
}
.whitebox .form-group{
    margin-bottom: 10px;
}
.whitebox form{
    margin-bottom: 0;
}
.whitebox div:nth-child(2){
    color: #006AFF;
}
.whitebox button{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    margin: 1px;
    margin-bottom: 10px;
}
.disclamer{
    font-size: 11px;
    font-weight: 500px;
}
.disclamer a{
    text-decoration: underline;
    color: #4a92f1;
}


/* PARTNERS */
.s_partners img{
    display: inline-block;
}
.s_partners .titolo{
    text-transform: uppercase;
    font-size: 15px;
    color: #6F7B97;
}
.bluetext{
    color: #4a92f1;
    font-weight: 600;
}

/* DEPLOY AND SCALE SEAMLESSLY  */
.deploy_list{
    font-weight: 900;
    font-size: 16px;
    color: #959eb8;
    list-style: none;
    border-left: solid 2px #9ca0aa67;
    padding: 0;
}
.deploy_list li{
    padding: 10px;
}
.s_deploy .row.padding{
    padding-top: 30px;
}
.s_deploy .box .titolosection{
    font-size: 15px;
    text-align: left;
}
.s_deploy .box .titolosection p{
    text-align: left;
}
.s_deploy .box img{
    max-height: 35px;
}

/* DESIGNED 4 DEV */
.s_designed4dev .s_undercaption{
    margin: 30px 0;
}
.s_designed4dev img{
    max-height: 310px;
}
.s_designed4dev .blocco{
    margin-top: 22px;
}
.s_designed4dev .blocco > *{
    display: inline-block;
}
.frecce{
    font-size: 25px;
    padding: 10px;
}
.mypager{
    color: #071f50;
    font-weight: 1000;
    font-size: 13px;
}
.mypager li>a{
    display: inline-block;
    padding: 4px;
    background-color: transparent;
    border: 1px solid #006AFF;
    border-radius: 50%;
}
.mypager .active{
    background-color: #006AFF;
}

/* FEATURES */
.s_features .box{
    margin-top: 20px;
}
.s_features .box .titolosection{
    font-size: 15px;
    text-align: left;
    font-weight: 1000;
}
.s_features .box .titolosection p{
    text-align: left;
}
.s_features .box img{
    max-height: 35px;
}

/* SERVICE */
.mytable{
    color: white;
    margin-top: 10px;
    font-size: 10px;
}
.mytable>tbody>tr:first-child > td{
    border-top: none;
}
.mytable>tbody>tr>td:nth-child(2){
    color: rgba(255, 255, 255, 0.747);
}
.mytable>tbody>tr>td:last-child{
    padding-left:40%;
}

/* DEVELOPMENT */
.s_dev .boxbianco{
    max-height: 310px;
    background-color: white;
    padding: 60px 1px;
    max-width: 480px;
    color: #071f50;
}
.s_dev .blocco{
    margin-top: 60px;
}
.s_dev .blocco > *{
    display: inline-block;
}
.s_dev .blocco > .frecce{
    font-size: 25px;
    vertical-align: 80px;
}
.boxbianco img{
    max-height: 30px;
    margin-bottom: 20px;
}
.boxbianco .s_undercaption{
    font-size: 18px;
}
.boxbianco .p_undercaption{
    color: #122a5c;
    font-weight:900;
    opacity: 1;
}
.boxbianco .p_undercaption p{
    opacity: 0.9;
}
.s_dev .bluetext{
    margin: 30px 0;
}