*{
    font-family: 'Roboto', sans-serif;
}
.btnshadow{
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.08);
}
.hover:hover{
    cursor: pointer;
}

/* BG COLOR */
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: #F3F5F9;
    color: #031C4E;
}
.bg-grad{
    background: rgb(0,25,107);
    background: linear-gradient(0deg, rgba(0,25,107,1) 0%, rgba(0,71,197,1) 100%);
    color: white;
}
.bg-blue{
    background-color: #031C4E;
    color: white;
}




.logo{
    max-width: 130px;
    margin-right: 100px;
    vertical-align: middle;
}
.border{
    border: solid 1px black;
}
nav [class*="col-"] > *{
    display: inline-block;
}
.nav li>a{
    color: #031C4E;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 8px;
    margin: 10px 0;
}
nav ul{
    vertical-align: middle;
}
nav ul li{
    vertical-align: middle;
    
}
.float-right{
    float: right;
}
#btnsignup{
    color: #016DFF;
    border: solid 1px #016DFF;
}

/* HERO */
section{
    padding: 50px 0;
}
.hero{
    background-image: url(img/bg-banner-home.jpg);
    background-size: contain;
    color: white;
}
.titolo{
    font-family: inherit;
    margin: 10px 0;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.1;
}
.undercaption{
    font-weight: 400;
    line-height: 1.5;
    font-size: 34%;
    opacity: 0.7;
}
.btn_create{
    background-color: #579AFF;
    color: rgba(255, 255, 255, 0.849);
    font-weight: 600;
}
.btn_sign{
    color: #626262;
    font-weight: 600;
    border: none;
    position: relative;
}
.gugol{
    max-height: 18px;
    opacity: 0.8;
    position: absolute;
    left: 10px;
}
.whitebox{
    padding: 20px 10px;
    color:#031C4E;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.myform{
    box-shadow:unset;
    border: none;
    font-weight: 600;
}
.whitebox .form-group{
    margin-bottom: 10px;
}
.whitebox form{
    margin-bottom: 0;
}
.whitebox div:nth-child(2){
    color: #006AFF;
}
.whitebox button{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    margin: 1px;
    margin-bottom: 10px;
}
.disclamer{
    font-size: 11px;
    font-weight: 500px;
}
.disclamer a{
    text-decoration: underline;
    color: #4a92f1;
}